
.laby {
  padding: 1.5rem;
}

.labTop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.group {
  margin: 2rem;
  height: 50vh;
  width: 32rem;
  margin: 0 1.5rem 1rem 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0 0.1rem 0.2rem var(--background-text); 
}

.labHeading {
  color: var(--background-text); 
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  font-weight: normal;
} 

.form {
  display: flex;
  flex-direction: column;
}

.inputControl {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  margin-right: 1rem;
}

.inputControl label {
  width: 200px; 
  width: 11rem;
  text-align: left; 
  display: inline-block;
  color: var(--background-text);
  font-weight: bold;
}

.inputControl input, .inputControl select {
  height: 2rem;
  padding: .4rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--border-color-two);
  margin-right: 1rem;
  color: var(--background-text-two);
  width: 30rem;
  border: 1px solid var(--border-color-three);
  outline: none;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
}

.addBtn {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none; 
  position: absolute;
  right: 0.3rem;
  bottom: 0.5rem;
  background: var(--button-color-four);
  color: var(--background-color);
  cursor: pointer;
} 

.addBtn:hover {
  background: var(--background-color);
  color: var(--background-text);
  border: 2px solid var(--button-color-four);
  font-weight: 550;
  cursor: pointer;
}


/* .group .chart {
} */
 

/* table style */
.ltable {
  margin: 1.5rem 1rem 1rem 1rem;
}

.ltable table {
    border-collapse: collapse;
    width: 100%;
    padding: 1rem;
  }

  .ltable th {
    border: 1px solid var(--border-color-one);
    text-align: left;
    padding: 8px;
    padding-left: 6px;
    font-size: 1rem;
    background-color: var(--logo-text-one);
    color: var(--font-color-two);
  }

.ltablee table {
    border-collapse: collapse;
    width: 100%;
  }

  .ltablee td {
    border: 1px solid var(--border-color-seven);
    text-align: left;
    padding: 6px;
    padding-left: 6px;
    font-size: 1rem;
  }
 
  .ltablee td:hover {
    background-color: var(--hover-color-one);
  } 

  .search {
    position: relative;
    float: right;
    margin: 1rem 1.5rem 1rem;
  }

.search .searchBox {
    height: 2rem;
    width: 7rem;
    padding: 0.5rem 2rem 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--border-color-one);
    outline: none;
    transition: width 0.4s ease-in-out;
    box-shadow: 0 0.1rem 0.2rem var(--button-color-four); 
}

.search .searchBox:focus {
    width: 18rem;
}

.search .searchIcon {
    position: absolute;
    top: 50%;
    right: 0.5rem; 
    transform: translateY(-50%);
    color: var(--search-color); 
  } 


  /* call to action buttons */
  .view, .update, .delete {
    padding: 0.2rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    background: transparent;
  } 

  .view {
    color: var(--button-color-one);
    border: 2px solid var(--button-color-one);
    background: transparent;
  }

  .view:hover, .view:focus, .view:visited {
    background: var(--button-color-one);
    color: var(--font-color-one);
  }

  .update {
    color: var(--button-color-two);
    border: 2px solid var(--button-color-two);
    background: transparent;
  }

  .update:hover, .update:focus, .update:visited {
    background: var(--button-color-two);
    color: var(--font-color-one);
  }

  .delete {
    color: var(--button-color-three);
    border: 2px solid var(--button-color-three);
    background: transparent;
  }
  
  .delete:hover, .delete:focus, .delete:visited {
    background: var(--button-color-three);
    color: var(--font-color-one);
  }

  /* modal buttons */
  .labModalBtn_no, .labModalBtn_yes {
    margin: .5rem;
    padding: .5rem .9rem; 
    cursor: pointer; 
    border: none;
    border-radius: 0.5rem;
  }
  .labModalBtn_no {
    color: #10002b;
    border: 2px solid var(--button-color-two);
    background: white;
  }
  
  .labModalBtn_no:hover, .labModalBtn_no:focus {
    font-weight: bold;
  }
  
  .labModalBtn_yes { 
    color: #2c0735;
    border: 2px solid var(--button-color-three);
    background: white;
  }
  
  .labModalBtn_yes:hover, .labModalBtn_yes:focus {
    font-weight: bold;
  }
  
  .backBtn {
    padding: .5rem .9rem; 
    margin: 1rem 1rem 0 1rem;
    cursor: pointer;
    color: var(--font-color-one); 
    background: var(--button-color-four);
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
  }
  
  .backBtn:hover, .backBtn:focus {
    color: var(--button-color-four);
    border: 2px solid var(--button-color-four);
    background: transparent;
  }
  
  .upModalBtn {
    padding: .5rem .9rem;
    color: var(--font-color-one);
    cursor: pointer; 
    background: var(--button-color-two);
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
  }
  
  .upModalBtn:hover, .upModalBtn:focus {
    color: var(--button-color-two);
    border: 2px solid var(--button-color-two);
    background: transparent;
  }

  /* update form styling */
  .labView {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.1rem;
    border: 1px solid #7785ac;
    box-shadow: 1px 1px 1px #a080ed;
  }

  .labView td {
    border: 1px solid #957fef;
    padding: 1rem 2rem;
  }

  /* .labView p {
    color: var(--button-color-four);
    padding-bottom: 1rem;
    font-size: 1.1rem;
  }

  .labView span {
    color: var(--button-color-four); 
    padding: 1rem;
    margin-left: 1rem;
  } */

  .modalTable1 {
    border: 3px solid red;
  }

  .modalTablel tr td label {
    font-size: 1.1rem;
    color: #240046;
    font-weight: bold;
  }

  .modalTablel tr td input,
  .modalTablel tr td select {
    margin: .5rem;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid #2f6690;
    color: #240046;
  }

  .modalTablel tr td select {
    width: 90%;
  }
  


  /* pagination styles */
.labPagination {
  display: flex;;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  list-style: none;
}

.page-item {
  border: 1px solid var(--border-color-four);
  font-size: 1rem;
  background-color: var(--background-color-two);
  font-family: inherit;
  font-weight: 600;
  background: transparent;
  border-radius: 0.4rem;
  margin-right: 0.4rem;
}

.page-item a {
  text-decoration: none;
  color: var(--background-text);
}

.page-link {
  display: block;
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  text-decoration: none;
  color: var(--background-text); 
}

.page-item.active .page-link {
  background: var(--background-color-three);
  color: var(--font-color-one);
  font-weight: 700;
}

@media only screen and (max-width: 900px) {
  .labTop {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}