@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f4f7f8;
  --background-color-two: #eee;
  --background-color-three: #777fd4;
  --background-color-four: #051923;
  --background-color-five: rgb(178, 178, 223);
  --modal-background-color: #A9D3FF;
  --logo-text: #2631a4;
  --logo-text-one: rgb(67, 70, 109);
  --active-link: #aab3b9;
  --active-link-two: #e7ebef;
  --font-color-one: #fff;
  --font-color-two: #e7ecef;
  --font-color-three: gray;
  --font-color-four: #360568;
  --background-text: #181f6f;
  --background-text-two: #070F2B;
  --border-color-one: #8b8c89;
  --border-color-two: #fdf0d5;
  --border-color-three: rgb(174, 174, 247);
  --border-color-four: rgb(163, 163, 240);
  --border-color-five: rgb(201, 201, 234);
  --border-color-six: rgb(213, 213, 239);
  --border-color-seven: #c0c0c0;
  --border-color-eight: rgb(208, 208, 210);
  --border-color-nine: #2c0735;
  --button-color-one: gray;
  --button-color-two: #389bd9;
  --button-color-three: #d14a55;
  --button-color-four: #24295d;
  --hover-color-one: #e9e9f7;
  --search-color: rgb(141, 141, 165);
}

[data-theme='dark'] {
  --background-color-four: #051923;
  --font-color-one: #fff;

  /* --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab; */
}

[data-theme='light'] {
  --background-color: #f4f7f8;
  --font-color-three: gray;


  /* --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922; */
} 

/* * {
  transition: all 0.3s ease-in-out;
} */
  


/* body {
  background: var(--background-color);
  font-family: 'Roboto', sans-serif;
} */

body {
  background: var(--background-color);
  color: var(--background-text);
  font-family: 'Roboto', sans-serif;
  transition: all 0.3s ease-in-out;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 7rem 1fr;
  grid-template-rows: 0.1fr 2fr;
  grid-column-gap: 0;
  grid-template-areas: 
      "navbar navbar"
      "sidebar main";
  overflow: hidden;
}